#login-form {
    margin-top: 10px;
    margin-bottom: 10px;
    
    mat-card-header {
        margin-bottom: 10px;
    }

    mat-form-field {
        width: 100%;
    }
}

.actions {
    display: grid;
    grid-template-rows: 1fr; 
    grid-template-columns: repeat(4, [col-start] 1fr);
  
    grid-template-areas:
      "login register cancel";
  }

  .gr-i1 {
    grid-area: login;
  }
  .gr-i2 {
    grid-area: register;
    grid-column: col-start 3
  }
  .gr-i3 {
    grid-area: cancel;
    grid-column: col-start 4
  }
  