<mat-card>
	<mat-card-header>
		<mat-card-title>{{ 'PUBLIC.LOGIN.LOG_IN' | translate }}</mat-card-title>
	</mat-card-header>
	<form [formGroup]="form">
		<mat-card-content>
			<mat-form-field>
				<input matInput formControlName="username"
								[placeholder]="'PUBLIC.LOGIN.USERNAME' | translate">
				<mat-error *ngFor="let v of m.username; trackBy: m.idx">
						<mat-error class="error-message" *ngIf="form.get('username').hasError(v.type) && 
								(form.get('username').dirty || form.get('username').touched)">{{ v.message }}
						</mat-error>
				</mat-error>                   
			</mat-form-field>
			<mat-form-field>
				<input matInput formControlName="password"
								[placeholder]="'PUBLIC.LOGIN.PASSWORD' | translate">
				<mat-error *ngFor="let v of m.password; trackBy: m.idx">
						<mat-error class="error-message" *ngIf="form.get('password').hasError(v.type) && 
								(form.get('password').dirty || form.get('password').touched)">{{ v.message }}
						</mat-error>
				</mat-error>
			</mat-form-field>
		</mat-card-content>
		<mat-card-actions>
			<button (click)="onLogin($event)"
							[disabled]="form.invalid || pending"
							color="primary"
							mat-raised-button
							type="button">{{ 'PUBLIC.LOGIN.LOG_IN' | translate }}
			</button>
			<button (click)="onRegister($event)"
							color="primary"
							mat-raised-button
							type="button">{{ 'PUBLIC.LOGIN.GO_TO_REGISTER' | translate }}
			</button>
			<button (click)="onCancel($event)"
							color="primary"
							mat-raised-button
							type="button">{{ 'PUBLIC.LOGIN.CANCEL' | translate }}
			</button>
		</mat-card-actions>
	</form>
	<div *ngIf="error">{{ error }}</div>
</mat-card>
