@import '~src/assets/sass/mixin/bem';

.header {
  @include el('logo') {
    vertical-align: middle;
  }
  display: grid;
  grid-template-rows: 1fr; 
  grid-template-columns: repeat(10, 1fr);

  grid-template-areas:
    "logo home users about whoarewe github . . login lang";
}
