<mat-toolbar class="header mat-elevation-z1" color="primary">
    <span grid-area="logo">
        <mat-icon class="header__logo">developer_board</mat-icon>
        <span>{{ title | translate }}</span>
    </span>

    <button  grid-area="home" mat-button [routerLink]="['/', '']">
        {{ 'PUBLIC.HOME.MENU_TITLE' | translate }}
    </button>

    <span  grid-area="users">
        <button *ngIf="isAuthenticated" mat-button [routerLink]="['/', 'users']">
            {{ 'PUBLIC.USER.USER.MENU_TITLE' | translate }}
        </button>
    </span>

    <button grid-area="about" mat-button [routerLink]="['/', 'about']">
        {{ 'PUBLIC.ABOUT.ABOUT.MENU_TITLE' | translate }}
    </button>

    <button grid-area="whoarewe" mat-button [routerLink]="['/', 'about', 'us', 22]">
        {{ 'PUBLIC.ABOUT.WHO_ARE_WE.MENU_TITLE' | translate }}
    </button>

    <a  grid-area="github" mat-button href="https://www.github.com/ekarpovs">
        Github
    </a>

    <span  grid-area="login">
        <button *ngIf="!isAuthenticated" mat-icon-button [routerLink]="['/', 'login']">
            <mat-icon>account_circle</mat-icon>
            {{ 'PUBLIC.LOGIN.MENU_TITLE' | translate }}
        </button>
        <button *ngIf="isAuthenticated" class="qa-header__logout" mat-icon-button (click)="logout()">
            <mat-icon>logout</mat-icon>
            {{ 'PUBLIC.LOGOUT.MENU_TITLE' | translate }}
        </button>
    </span>

    <span grid-area="language">
        <mat-menu #i18nMenu="matMenu" yPosition="below" xPosition="before" [overlapTrigger]="false">
            <button *ngFor="let language of availableLanguages; trackBy: trackByFn"
                mat-menu-item
                [ngClass]="language.code"
                [routerLink]="['/', 'change-language', language.code]">
                {{ language.name }}
            </button>
        </mat-menu>
        <button mat-icon-button [matMenuTriggerFor]="i18nMenu">
            <mat-icon>language</mat-icon>
            {{ 'PUBLIC.LANGUAGE.LANGUAGE' | translate }}
        </button>
    </span>
</mat-toolbar>
