@import '~src/assets/sass/func/rem';

html,
body {
  overflow: hidden;
}

#main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content max-content max-content;
  grid-template-areas:
  "head"
  "main"
  "foot";
}

app-header {
  grid-area: head;
}

router-outlet + * {
  grid-area: main;
}

app-footer {
  grid-area: foot;
}

.content {
  position: relative;
  min-height: calc(100vh - #{rem(12.8)});
}
