@import '~src/assets/sass/func/rem';

html,
body {
  overflow: hidden;
}

#site {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content max-content max-content;
  grid-template-areas:
  "head"
  "page-content"
  "foot";
}

app-header {
  grid-area: head;
}

router-outlet + * {
  grid-area: page-content;
}

app-footer {
  grid-area: foot;
}

.page-content {
  position: relative;
  min-height: calc(100vh - #{rem(12.8)});
}
