<div [@routeAnimation] class="card--narrow" fxLayout="column" fxFlex="100%">
    <div *ngIf="error$ | async">
        Error: {{ (error$ | async) }}
    </div>
    <app-card 
        [data]="user$ | async"
        [isProcessing]="isProcessing$ | async">
        <app-user-detail *ngIf="!(isProcessing$ | async)"
            [user]="user$ | async"
            [deleteCommand]="deleteCommand"
            (cancelClick)="cancel($event)"
            (deleteClick)="delete($event)"
            (saveClick)="save($event)">
        </app-user-detail>
    </app-card>
</div>
