.wrapper {
  margin-top: 10px;
  margin-bottom: 10px;
  max-height: 600px;
  min-width: 400px;

  display: grid;
  grid-template-columns: 5fr 3fr 5fr;
  grid-template-rows: 1fr;

  .mc-grid {
    grid-column: 2;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr 1fr;

    .mc-header-item {
      grid-row: 1;
    }

    .mc-content-item {
      grid-row: 2;
    }

    .mc-actions-grid {
      grid-row: 3;

      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 3fr 1fr 2fr 2fr;
      .act-item1 {
        grid-column: 1;
      }
      .act-item2 {
        grid-column: 3;
      }
      .act-item3 {
        grid-column: 4;
      }
    }
  }
}

// .mc-footer-tem {
//     grid-column: 1 / 4;
//     grid-row: 5;
// }

mat-card {
  max-height: 450px;
  min-width: 400px;
}
mat-card-header {
  margin-bottom: 10px;
  justify-self: center;
  align-self: center;
}
mat-form-field {
  width: 100%;
}

button {
  height: 35px;
  width: auto;
  justify-self: left;
  align-self: center;
}
